services:
  frontend:
    build:
      context: ./
      dockerfile: client/Dockerfile
    ports:
      - "4200:4200"
    environment:
      - NODE_ENV=production
    networks:
      - app-network

  backend:
    build:
      context: ./
      dockerfile: server/Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - server/.env
    depends_on:
      - mongodb
    networks:
      - app-network

  mongodb:
    image: mongo:6
    container_name: mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - db-data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  db-data:
