@if(movingGameService.isPopupItemChoiceVisible){
<div class="popup-overlay">
    <div class="container">
        <p class="div4">Veuillez choisir un item à jeter</p>
        @if(playingService.localPlayer?.inventory?.[0]){
        <div class="div1">
            <img
                class="item"
                [title]="(playingService.localPlayer?.inventory)![2].description"
                [src]="(playingService.localPlayer?.inventory)![0].image"
                alt="item1"
            />
            <button class="button" (click)="chooseItem(0)">Rejeter</button>
        </div>
        } @if(playingService.localPlayer?.inventory?.[1]){
        <div class="div2">
            <img
                class="item"
                [title]="(playingService.localPlayer?.inventory)![2].description"
                [src]="(playingService.localPlayer?.inventory)![1].image"
                alt="item2"
            />
            <button class="button" (click)="chooseItem(1)">Rejeter</button>
        </div>
        } @if(playingService.localPlayer?.inventory?.[2]){
        <div class="div3">
            <img
                class="item"
                [title]="(playingService.localPlayer?.inventory)![2].description"
                [src]="(playingService.localPlayer?.inventory)![2].image"
                alt="item3"
            />
            <button class="button" (click)="chooseItem(2)">Rejeter</button>
        </div>
        }
    </div>
</div>
}
