<div class="credits-page">
    <div class="logo">
        <a>
            <img src="./assets/Logo.PNG" alt="Heroic Adventure Logo" routerLink="/home" />
        </a>
    </div>
    <div class="members-grid">
        <span class="member">Mohamad Afandi</span>
        <span class="member">Samai Azimi</span>
        <span class="member">Thomas Goyer-Raby</span>
        <span class="member">Rayane Sahraoui</span>
        <span class="member">Brice Tangmouo Manfo</span>
        <a class="member" href="https://www.linkedin.com/in/bryan-alexandre-t-04738a1a0/">Bryan Alexandre Tavares</a>
    </div>
    <p class="team-name">ÉQUIPE 107</p>
    <button class="return-button" routerLink="/home">RETOURNER</button>
</div>
